.br-h1-light, .br-h1  {
    font-size: 15px !important;
    padding: 6px;
}

.br-h1 {
    font-weight: bold !important;
}

.br-hr-1 {
    padding: 2px;
    border-width: 1px !important;
    border-color: #d8e0e0 !important;
}

.br-body-container {
    padding: 20px !important;
}

.br-author-browse-card-img {
    max-width: 120px !important;
    max-height: 120px !important;
}

.br-author-browse-card-header {
    font-size: 14px !important;
}

.br-author-browse-card-header > a {
    margin-bottom: 10px !important;
    margin-top: -8px !important;
}

.br-author-browse-card {
    padding: 20px !important;
    border-radius: 10px !important;
    border: 1px solid #d8e0e0 !important;
    max-width: 190px !important;
    max-height: 210px !important;
    float: left !important;
    margin-right: 10px !important;
    margin-bottom: 10px !important;
}

.pagination {
    display:block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin: 0 !important;
    //max-width:400px;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover
{
    font-weight: bold;
    color: blue !important;
    background-color: aliceblue;
}

.tmenu-active a {
    color: #31b0d5 !important;
    background: aliceblue !important;
}

.navbar-nav>li.tmenu-active>a {
    color: #31b0d5 !important;
}